<style>
  table thead tr th {
    text-align: center;
  }

  table tbody tr td {
    text-align: center;
  }

  table tr.linkable {
    cursor: pointer;
  }
  select {
    width: 70px;
    background-color: #ffffff;
    background-image: none !important;
    border: 1px solid #e5e5e5;
    outline: none;
    min-height: 35px;
  }
</style>

<p id="notice"><%= notice %></p>

<h1>외상거래지</h1>

<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
    <tr>
      <th class="h-align">날짜</th>
      <th class="h-align">외상자</th>
      <th class="h-align">품목</th>
      <th class="h-align">금액</th>
      <th class="h-align">잔액</th>
    </tr>
  </thead>
  <tbody>
    <% @credits.each do |credit| %>
    <tr id="<%= dom_id(credit) %>"  class="linkable" data-href="<%= credits_path+'/'+credit.id.to_s %>">
      <td><%= credit.date %></td>
      <td><%= credit.name %></td>
      <td><%= credit.product_name %></td>
      <td><%= number_with_delimiter(credit.cost) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  <br>

  <button class="btn-sm">
    <%= link_to '추가', new_credit_path %>
  </button>

<script>
    $(document).ready(function(){
        $('table td').click(function(){
            window.location = $(this).parent().data('href');
            return false;
        });

        $('[data-toggle="tooltip"]').tooltip();
        $("li").first().addClass("active");
    });
</script>