<p id="notice"><%= notice %></p>

<table class="table table-hover no-more-tables" style="margin-top: 20px;">
  <thead>
  <tr>
    <th class="h-align">날짜</th>
    <th class="h-align">외상자</th>
    <th class="h-align">품목</th>
    <th class="h-align">금액</th>
    <th class="h-align">잔액</th>
  </tr>
  </thead>
  <tbody>
      <td><%= @credit.date %></td>
      <td><%= @credit.name %></td>
      <td><%= @credit.product_name %></td>
      <td><%= number_with_delimiter(@credit.cost) %></td>
    </tr>
  </tbody>
</table>

<button class="btn-sm">
  <%= link_to '수정', edit_credit_path(@credit) %>
</button>
<button class="btn-sm">
  <%= link_to '뒤로', credits_path %>
</button>
